---
import Layout from "@/layouts/main.astro";
import ValentineCard from "@/components/EieiCard";
import MusicPlayer from "@/components/MusicPlayer";

const content = {
  title: "Valentine Card 💘",
};
---

<Layout content={content}>
  <main
    class="min-h-screen bg-linear-to-b from-[#ffd6e0] to-[#ff8fa3] py-8 pb-32"
  >
    <div class="space-y-12">
      <ValentineCard client:visible />
    </div>
    <MusicPlayer client:load />
  </main>
</Layout>
